node_modules/
build/
coverage/
docs/api
architecture/
process_documentation/
sandbox.nbb
deploy.log
.env
.env.production
.env.development
docker/mongo/
docker/caddy/
**/yarn.lock
**/downloads/*.csv
**/downloads/*.json
.vscode
