# docker-compose.prod.yaml (Production configuration)

services:
  frontend:
    restart: unless-stopped
    build:
      context: ..
      dockerfile: packages/frontend/Dockerfile
      args:
        - VITE_API_URL=${BACKEND_URI:-http://localhost:3123}
        - VITE_APP_URL=${FRONTEND_URI:-http://localhost:5173}
        - VITE_INACTIVITY_LIMIT=1
        - VITE_DEBUG_RECAPP=1 # change to 0 for production
    environment:
      - FRONTEND_URI=${FRONTEND_URI}
      - BACKEND_URI=${BACKEND_URI}
      - VITE_DEBUG_RECAPP=1 # change to 0 for production
    ports:
      - "5173:80"
    depends_on:
      - backend

  backend:
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "10"
    build:
      context: ..
      dockerfile: packages/backend/Dockerfile
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    environment:
      - NODE_ENV=production
      - FRONTEND_URI=${FRONTEND_URI}
      - BACKEND_URI=${BACKEND_URI}
      - SERVER_PORT=${SERVER_PORT}
      - SERVER_HOST=${SERVER_HOST}
      - OPENID_PROVIDER=${OPENID_PROVIDER}
      - OID_CLIENT_ID=${OID_CLIENT_ID}
      - OID_CLIENT_SECRET=${OID_CLIENT_SECRET}
      - ISSUER=${ISSUER}
      - REDIRECT_URI=${REDIRECT_URI}
      - REQUIRES_OFFLINE_SCOPE=${REQUIRES_OFFLINE_SCOPE}
      - API_KEYS=${API_KEYS}
      - MONGODB_HOST=recapp-db
      - MONGODB_PORT=${MONGODB_PORT}
      - JWT_SECRET=${JWT_SECRET}
      - DEBUG_RECAPP=0 # change to 0 for prod

    depends_on:
      - recapp-db
