# Base configuration - what we need in dev and prod
services:
  recapp-db:
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "10"
    restart: always
    image: mongo:6
    volumes:
      - ./mongo/data/db:/data/db
